<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A quick tour of Shypwright and the team.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Shypwright</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Shypwright, founded in spring 2017, is a conglomeration of three talented friends with a common goal to tackle massive complicated systems and have fun doing it.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vinay</h4>
                                    <h4 class="subheading">Nerd 1 added to team</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Vinay's startup and consulting experience is dizzying, from the heydays of e-commerce in the 90's to revolutionaizing battery storage behind the meter. Vinay spear-heads any problem with relenting obsession. Selling his first company while still in highschool, he still managed to snag a EE. His hobbies are too many to list, but his favorite vice is new technology. His primary role is lead architect and face of the company.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monikka</h4>
                                    <h4 class="subheading">Nerd 2 added to team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Monikka started out young on the Apple II writing programs to cure boredom. Since then, she has cultivated the skills and figured she might as well get a degree in her passion from SF state for which she had alraedy been working professionally as. She has been known to write the cleanest code while producing oodles of it which should be an oxymoron. Wherever she works, she is always the rising star. She spends her spare time helping out women in tech. Her primary role will lead developer, manager and architect.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bo</h4>
                                    <h4 class="subheading">Nerd 3 added to team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bo grew up in Denmark playing with Legos. Once he realized a lego engineer wasn't quite what he expected, he turned his focus onto physics and worked at CERN for many years before ending up at Lawrence Berkeley National Lab playing with tiny particles. Bo fell backwards into software developement and hasn't looked back. He's a tree-hugger volunteering to save endangered species and loves motorcycles. His primary role, will be lead developer, manager and math guru.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
