<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A quick tour of Shypwright and the team.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Shypwright</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Shypwright was founded in 2016 with a mission to provide end-to-end solutions to demanding problems. We take pride in our proven ability to provide these solutions in an efficient and scalable manner.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vinay</h4>
                                    <h4 class="subheading">Co-Founder</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Vinay Malkani is a computer technologist who utilizes 20 years of industry experience and his propensity for blending technology and business in order to create innovative solutions that solve a variety of complex obstacles occurring in today’s business arena. In addition to having large corporate experience, he has worked with businesses from the early startup phase all the way through both acquisition and IPO. His experience includes leading, architecting, and implementing solutions in e-commerce, finance, adtech, robotics, and the energy sectors. Mr Malkani's proven track record has produced solutions for K-Mart, LVMH, Scholastic, American Airlines, Marin Software, Stem Inc, and Mayfield Robotics. He most recently lead the Cloud Engineering team at Mayfield Robotics (a wholly owned subsidiary of Bosch)</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monikka</h4>
                                    <h4 class="subheading">Co-Founder</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Surrounded by a family in the tech industry, Monikka had her first computer at the age of 8 and by age 11 had already built and published several websites. Searching for patterns and writing code is second nature to her and something she has a passion for. Monikka is now proficient in numerous programming languages and is a true full stack developer. She focuses on giving back to the community and organizations to help women break into the tech industry and is known for her well documented, clean, and efficient code. She most recently worked as a Principal Software Engineer at Stem Inc. and Technology Consultant for Brightfield Strategies.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bo</h4>
                                    <h4 class="subheading">Co-Founder</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bo started his career in high energy/quantum chromodynamic physics under the Niels Bohr Institute at Copenhagen University focusing on a state of matter which is now proven to exist moments after the Big Bang. Later transitioned to Lawrence Berkeley National Lab and CERN to further develop his analytical and computational skills. Now with 15 years experience in both hardware and software, he has worked with Stem Inc., Cypress Renewables, leads a project with Onset Inc. and volunteers with Trout Unlimited to protect endangered species using computational analysis.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
