<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A quick tour of Shypwright and the team.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Shypwright</h4>
                                    <h4 class="subheading">Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Shypwright was founded in 2016 with a mission to provide end-to-end solutions to demanding problems. We take pride in our proven ability to provide these solutions in an efficient and scalable manner.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vinay</h4>
                                    <h4 class="subheading">Co-Founder</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Vinay Malkani is a computer technologist who utilizes 20 years of industry experience and his propensity for blending technology and business in order to create innovative solutions that solve a variety of complex obstacles occurring in today’s business arena. In addition to having large corporate experience, he has worked with businesses from the early startup phase all the way through both acquisition and IPO. His experience includes cloud engineering, robotics, machine learning and big data processsing, and e-commerce. Mr Malkani most recently was Head of Cloud Engineering at Mayfield Robotics.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Monikka</h4>
                                    <h4 class="subheading">Co-Founder</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Monikka started out young on the Apple II writing programs to cure boredom. Since then, she has cultivated the skills and figured she might as well get a degree in her passion from SF state for which she had alraedy been working professionally as. She has been known to write the cleanest code while producing oodles of it which should be an oxymoron. Wherever she works, she is always the rising star. She spends her spare time helping out women in tech. Her primary role will lead developer, manager and architect.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Bo</h4>
                                    <h4 class="subheading">Co-Founder</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bo grew up in Denmark playing with Legos. Once he realized a lego engineer wasn't quite what he expected, he turned his focus onto physics and worked at CERN for many years before ending up at Lawrence Berkeley National Lab playing with tiny particles. Bo fell backwards into software developement and hasn't looked back. He's a tree-hugger volunteering to save endangered species and loves motorcycles. His primary role, will be lead developer, manager and math guru.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
