<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Full Stack, from IoT to cloud services. Your imagination is our limit.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Embedded Developement & IoT</h4>
                    <p class="text-muted">Distributed fog computing is becoming a major player, and Shypwright has extensive experience building lean custom OS's integrating most protocols or bitbashed them on custom hardware, all types of communication technologies along with board-bringup and device verification testing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Backend Cloud Development</h4>
                    <p class="text-muted">The entire team has spent a substantial amount tackling every sort of complicated cloud solution over the years. Backend is typically the core of many businesses these days and we know how to build framework agnostic code which is readily deployable and easy to maintain in a myriad of languages.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-exchange fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Control Systems</h4>
                    <p class="text-muted">From controlling robots, battery systems, grid scale power plants, we've seen it all. PID loops galore. We have a trusted system in development along with testing framework which ensures peace of mind with regards to edge cases. We have the ability to integrate the control system to the cloud. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-superscript fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Machine Learning & Big Data</h4>
                    <p class="text-muted">We leverage the experience from our resident physicist on our heavy math related tasks, however, the entire team has extensive knowledge on handling big-data with the ability to readily visualize the results.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security & Penetration Testing</h4>
                    <p class="text-muted">Security is addressed from day-1 in all of our projects. Using knowledge from working in the security sector along with Black Hat trainings, we can provide pen-testing along with a good nights sleep for our clients knowing their product is protected.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-list fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Project Management</h4>
                    <p class="text-muted">In house project management capabilites. From day-1, all user stores are coallated into our agile development, this becomes important when it comes time to pivoting to a new feature set or managing production bugs and team resources.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobiile Development</h4>
                    <p class="text-muted">Using the React Native, we can build your app to be cross platform and fast. We employ the same standards to our mobile development as we do to backend code which enhance user experience.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Testing</h4>
                    <p class="text-muted">Load testing, integration testing, unit testing, code climeate; we do it all in the course of developement such that the full gammit is automated leveraging cloud technologies.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Front End & UI</h4>
                    <p class="text-muted">A clean user's experience can is worth it's weight in gold, and Shypwright always builds our front-end code to exceed your expectations.</p>
                </div>
            </div>
        </div>
    </section>
